<p>
  cursos works!
</p>
<p>Página: {{ pagina }}</p>
<div class="collection">
  <a class="collection-item" *ngFor="let curso of cursos" [routerLink]="['/cursos', curso.id]">{{ curso.nome }}</a>
</div>

<button (click)="proximaPagina()">Proxima Página</button>