<h5>Criar/Editar Aluno</h5>

<div class="col s12">
  <div class="row">
    <div class="input-field col s12">
      <input disabled [(ngModel)]="aluno.id" id="disabled" type="text">
      <label class="active" for="disabled">#</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aluno.nome" id="nome" type="text" (input)="onInput()">
      <label for="nome" class="active">Nome</label>
    </div>
  </div>

  <div class="row">
    <div class="input-field col s12">
      <input [(ngModel)]="aluno.email" id="email" type="text">
      <label for="email" class="active">Email</label>
    </div>
  </div>

  
</div>